@import "config";
@import "menu";
@import "carousel";

html {
    font-size: 14px;
    margin-bottom: 40px;
}
* {
    box-sizing: border-box;
}
    
body{
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.language {
    position: absolute;
    right: 35px;
    top: 20px;
    font-weight: bold;
    
    a {
        padding-left: 6px;
    }
}

.home-img {
    img {
        position: absolute;
        top: 90px;
        width: 100%;
        height: 40%;
        object-fit: cover;
        z-index: -1;
    }
}

.portrait {
    img {
        position: absolute;
        right: 20%;
        top: 25vh;
        object-fit: cover;
        width: 250px;
        height: 250px;
        border-radius: 50%; 
        border: solid 4px $accent-color;

    }
}

h1, 
h2, 
h3 {
    margin-top: 0;
    margin-left: 35px;
    margin-right: 35px;
    font-weight: 500;
    z-index: 1;

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        font-size: 2rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: $accent-color;
    text-decoration: none;

    &:hover {
        color: darken($secondary-color, 20%);
    }
}

header {
    position: fixed;
    z-index: 2; 
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: $secondary-color;
    color: set-text-color($secondary-color);
    height: 60px;

    p {
        text-align: right;
        padding-right: 25px;
    }
}

main {
    min-height: calc(100vh - 60px);
    overflow: visible;

    &#homepg {
        overflow: visible;
        h1 {
            padding-top: 400px;
        }
    }

    &#about,
    &#projects,
    &#contact {
        h1 {
            padding-top: 100px;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "bio bio bioimage"
        "skill1 skill2 skill3";
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .skill-1 {
        grid-area: skill1;
    }

    .skill-2 {
        grid-area: skill2;
    }
    
    .skill-3 {
        grid-area: skill3;
    }

    .skill {
        background: lighten($primary-color, 5);
        padding: 3rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.0rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        @include easeout;

        &:hover {
            padding: 1.0rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);
            span {
                color: $accent-color;
            }
        }
    }
}

@import "mobile";