// Mixins, functions and declarations

$primary-color: #666;
$secondary-color: rgb(255, 132, 228);
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.8;

@mixin easeout {
    transition: 0.8s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after { // Covering the whole body
                content: "";
                // The content property in CSS is used to generate the content 
                // dynamically (during run time). It is used to generate content 
                // ::before & ::after pseudo element. (geeksforgeeks) 
                position: absolute; 
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1; // How close an element is to you (small index=background)
                background: rgba($primary-color, $background-opacity);
            }
        }   
    }
}

// Set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

// Media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px){
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width:769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px){
        @content;
    }
}