// Sass for the menu view

// Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeout;
    }

    // Rotate into an X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Rotate line 1
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Hide line 2
            &:nth-child(2) {
                opacity: 0;
            }
            // Rotate line 3
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// Menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding, 
    &-nav {
        display: flex; 
        flex-flow: column wrap; // Menu goes up-to-down
        align-items: center; // Align horizontally
        justify-content: center; // Align vertically
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        opacity: 0.90;
        list-style: none;
        transform: translate3d(0, -100%, 0); 
        // translate3d (tx, ty, tz) where t=length of translation
        @include easeout; 

        &.show {
            // Slide in from top
            transform: translate3d(0, 0, 0);
        }
    }

    // Branding side
    &-branding {
        background: $primary-color;
        opacity: 0.95;
        transform: translate3d(0, 100%, 0);
        @include easeout;

        &.show {
            // Slide in from bottom
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url("../img/portrait.jpg");
            // The relative path is this because main.css is inside the dist folder (?)
            border-radius: 50%; // Round image
            border: solid 4px $secondary-color;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeout;

        &.show {
            // Slide in from right
            transform: translate3d(0, 0, 0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 25px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 600;
        color:set-text-color($primary-color);
        text-decoration: none;
        @include easeout;

        &:hover {
            color: $secondary-color;
        }
    }
}

// Delay each nav item slide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) { 
        transition-delay: $x * 0.1s;
    }
}